API_CONTAINER_NAME=aiswo_spatial_api
API_HOST=0.0.0.0
API_PORT=8000
API_GEOQUIBIDY_PORT=8000
UVICORN_WORKERS=2

POSTGRES_CONTAINER_NAME=aiswo_postgis
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_GEOQUBIDY_PORT=5432
POSTGRES_DB=spatial_analysis
POSTGRES_USER=spatial_user
POSTGRES_PASSWORD=spatial_password

DATABASE_URL=postgresql+psycopg2://spatial_user:spatial_password@db:5432/spatial_analysis

APP_NAME=AISWO Spatial Analysis API
ENV=local
