
# Environment variables for AISWO Spatial Analysis API
APP_NAME=AISWO Spatial Analysis API
ENV=local

# API
API_CONTAINER_NAME=aiswo_spatial_api
API_HOST=0.0.0.0
API_PORT=8000
API_AISWO_GEOSPATIAL_PORT=8000
UVICORN_WORKERS=2

# Worker
WORKER_PROFILE_CONTAINER_NAME=aiswo_worker_profile
WORKER_SLOPE_CONTAINER_NAME=aiswo_worker_slope

# Redis
REDIS_CONTAINER_NAME=aiswo_redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
PROFILE_ANALYSIS_QUEUE=profile_analysis
SLOPE_ANALYSIS_QUEUE=slope_analysis

# PostgreSQL
POSTGRES_CONTAINER_NAME=aiswo_postgis
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_AISWO_GEOSPATIAL_PORT=5432
POSTGRES_DB=spatial_analysis
POSTGRES_USER=rglozano
POSTGRES_PASSWORD=Descargar123
DATABASE_URL=postgresql+psycopg2://rglozano:Descargar123@db:5432/spatial_analysis

# ClickHouse
CLICKHOUSE_CONTAINER_NAME=aiswo_clickhouse
CLICKHOUSE_HTTP_PORT=8123 
CLICKHOUSE_NATIVE_PORT=9000 
CLICKHOUSE_USER=rglozano
CLICKHOUSE_PASSWORD=Descargar123
CLICKHOUSE_DATABASE=spatial_analytics